<h1>Menu</h1>

<h2> Drinks </h2>
<ul>
  <li>Coffee: $3</li>
  <li>Milk: $2</li>
  <li>Tea: $3</li>
</ul>

<h2> Food </h2>
<ul>
  <li>Chocolate: $3</li>
  <li>Muffin: $2</li>
  <li>Toastie: $3</li>
</ul>


<p>Find me in app/views/menu/index.html.erb</p>
